{{define "title"}}Confirm Email{{end}}

{{define "main"}}
<form action="/user/confirmEmail" method="POST">
  {{with .Errors}}
  <ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}

  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

  <label class="input-label" for="code">Code:</label>
  <input class="{{if .FieldErrors.Code}}invalid-field{{end}}" id="code" type="text" name="code" autocomplete="off" required maxlength="6">
  {{with .FieldErrors.Code}}<label class="error-label" for="code">{{.}}</label>{{end}}

  <input class="btn btn-primary" type="submit" value="Verify">
</form>
{{end}}
