{{define "title"}}Login{{end}}

{{define "main"}}
<form action="/user/login" method="POST">
  {{with .Errors}}
  <ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}

  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

  <label class="input-label" for="email">Email:</label>
  <input class="{{if .FieldErrors.Email}}invalid-field{{end}}" id="email" type="email" name="email" {{with .Form}}value="{{.Email}}"{{end}} required>
  {{with .FieldErrors.Email}}<label class="error-label" for="email">{{.}}</label>{{end}}

  <label class="input-label" for="password">Password:</label>
  <input class="{{if .FieldErrors.Password}}invalid-field{{end}}" id="password" type="password" name="password" required>
  {{with .FieldErrors.Password}}<label class="error-label" for="password">{{.}}</label>{{end}}

  <input class="btn btn-primary" type="submit" value="Login">
</form>
{{end}}
