{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}} - H-ID</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div>
          <a href="/" id="nav-brand">H-ID</a>
      </div>
      <nav>
        {{if not .UserID}}
        <a class="nav-link" href="/user/login">{{translate .Lang "login"}}</a>
        <a class="nav-link" href="/user/signup">{{translate .Lang "signup"}}</a>
        {{else}}
        <form action="/user/logout" method="post">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <a class="nav-link" href="/app/list">Apps</a>
          <a class="nav-link" href="/user/profile">Account</a>
          <button class="nav-link">{{translate .Lang "logout"}}</button>
        </form>
        {{end}}
      </nav>
    </header>
    <main>
      {{template "main" .}}
    </main>
    <footer>
      <span>© 2023-2024 Julian Hofmann</span>
    </footer>
  </body>
</html>
{{end}}
