{{define "title"}}{{translate .Lang "listApps"}}{{end}}

{{define "main"}}
<div id="list-apps-page" class="form-panel">
  <h2 class="form-title">{{translate .Lang "listApps"}}</h2>
  <div id="list-apps-page-body">
    <div id="create-btn-container">
      <a id="list-apps-create" href="/app/create" class="btn">{{translate .Lang "create"}}</a>
    </div>
    <div id="app-list">
      {{range .Data.Apps}}
        <a href="/app/{{.ID}}" class="app-list-entry clickable">{{.Name}}</a>
      {{end}}
    </div>
  </div>
</div>
{{end}}
