{{define "title"}}{{translate .Lang "login"}}{{end}}

{{define "main"}}
<div class="form-panel">
  <h2 class="form-title">{{translate .Lang "login"}}</h2>
  <ul id="login-error-list" class="error-list {{if not .Errors}}invisible{{end}}">
    <li class="invisible" id="invalid-credentials">{{translate .Lang "invalidCredentials"}}</li>
    {{range .Errors}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  <form class="form" action="/user/login" method="POST">
    <div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

      <button id="use-passkey-btn" type="button" class="btn">{{translate .Lang "usePasskey"}}</button>
      <label class="or-label">-- {{translate .Lang "or"}} --</label>

      <label class="input-label" for="email">{{translate .Lang "email"}}:</label>
      <input class="{{if .FieldErrors.Email}}invalid-field{{end}}" id="email" type="email" name="email" {{with .Form}}value="{{.Email}}"{{end}} {{if not .Form.Email}}autofocus{{end}} required>
      {{with .FieldErrors.Email}}<label class="error-label" for="email">{{.}}</label>{{end}}

      <label class="input-label" for="password">{{translate .Lang "password"}}:</label>
      <input class="{{if .FieldErrors.Password}}invalid-field{{end}}" id="password" type="password" name="password" required {{if .Form.Email}}autofocus{{end}}>
      {{with .FieldErrors.Password}}<label class="error-label" for="password">{{.}}</label>{{end}}

      <a class="input-label" href="/user/forgotPassword">{{translate .Lang "forgotPasswordLink"}}</a>
      <a class="input-label" href="/user/signup">{{translate .Lang "createAccount"}}</a>
    </div>
    <div class="submit-div">
      <input class="btn" type="submit" value="{{translate .Lang "login"}}">
    </div>
  </form>
  <script src="/static/js/login.js"></script>
</div>
{{end}}
