{{define "title"}}OAuth Consent{{end}}

{{define "main"}}
<div class="form-panel">
  <h2 class="form-title">Login with H-ID</h2>
  {{with .Errors}}
  <ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}

  <form class="form" action="/oauth/consent" method="POST">
    <div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <h3 class="consent-h3"><b><a href="{{.Data.ClientWebsite}}" target="_blank">{{.Data.ClientName}}</a></b> requests permission to:</h3>
      <ul>
        {{range .Data.Scopes}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>
    <div class="submit-div">
      <button class="btn btn-red" type="submit" name="choice" value="deny">Deny</button>
      <button class="btn btn-green" type="submit" name="choice" value="accept">Accept</button>
    </div>
  </form>
</div>
{{end}}
