{{define "title"}}{{translate .Lang "profile"}}{{end}}

{{define "main"}}
<div class="form-panel">
  <h2 class="form-title">{{translate .Lang "profile"}}</h2>
  {{with .Errors}}
  <ul class="error-list">
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}

  <form class="form" action="/user/profile" method="post" enctype="multipart/form-data">
    <div id="profilePage">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <div id="profilePictureContainer">
        <img class="clickable" id="profilePicture" src="/user/{{.Data.ID}}/picture?size=512">
        <input hidden type="file" name="profile_picture" id="profilePictureInput">
        <label id="profilePictureSaveHint" class="hint-label hint-label-warning invisible" for="profilePicture">{{translate .Lang "pressUpdateToUpload"}}</label>
        {{with .FieldErrors.ProfilePicture}}<label class="error-label" for="profilePicture">{{.}}</label>{{end}}
        {{with .Data}}
          {{if .Success}}
          <label class="hint-label hint-label-success">{{.Success}}</label>
          {{end}}
          {{if .Error}}
          <label class="hint-label hint-label-error">{{.Error}}</label>
          {{end}}
        {{end}}
      </div>

      <label class="input-label" for="name">{{translate .Lang "name"}}:</label>
      <input class="{{if .FieldErrors.Name}}invalid-field{{end}}" id="name" type="text" name="name" maxlength="32" value="{{if .Form}}{{.Form.Name}}{{else}}{{.Data.Name}}{{end}}" required>
      {{with .FieldErrors.Name}}<label class="error-label" for="name">{{.}}</label>{{end}}

      <label class="input-label" for="email">{{translate .Lang "email"}}:</label>
      <a href="/user/changeEmail" id="email" class="clickable">{{.Data.Email}}</a>
      <a class="link" href="/user/2fa/recovery/reset">{{translate .Lang "resetRecoveryCodesLink"}}</a>
      <br>
      <a class="link" href="/user/passkey">{{translate .Lang "managePasskeys"}}</a>
    </div>
    <div class="submit-div">
      <input class="btn" type="submit" value="{{translate .Lang "update"}}">
    </div>
  </form>

  <script src="/static/js/profile.js"></script>
</div>
{{end}}
