{{define "title"}}{{translate .Lang "resetPassword"}}{{end}}

{{define "main"}}
<div class="form-panel">
  <h2 class="form-title">{{translate .Lang "resetPassword"}}</h2>
  {{with .Errors}}
  <ul class="error-list">
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}
  <form class="form" action="/user/resetPassword" method="POST">
    <div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <input type="hidden" name="token" value="{{.Form.Token}}">

      <label class="input-label" for="password" {{if .Form}}autofocus{{end}}>{{translate .Lang "newPassword"}}:</label>
      <input class="{{if .FieldErrors.Password}}invalid-field{{end}}" id="password" type="password" name="password" required>
      {{with .FieldErrors.Password}}<label class="error-label" for="password">{{.}}</label>{{end}}

      <label class="input-label" for="repeatPassword">{{translate .Lang "repeatPassword"}}:</label>
      <input class="{{if .FieldErrors.RepeatPassword}}invalid-field{{end}}" id="repeatPassword" type="password" name="repeatPassword" required>
      {{with .FieldErrors.RepeatPassword}}<label class="error-label" for="repeatPassword">{{.}}</label>{{end}}
    </div>
    <div class="submit-div">
      <input class="btn" type="submit" value="{{translate .Lang "submit"}}">
    </div>
  </form>
</div>
{{end}}
